*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    color: white;
}
:root{
    font-size: 62.5%;
}

body, input, button, textarea{
    font: 400 1.8rem/1 'Nunito', sans-serif;
}


/*
O que é uma regra CSS
Ela é composta de seletor, propriedade e valor
Cascata é analogo a cachoeira, e o mais ao fundo tem prioridade.
Mesmo assim existe a especificidade, que podem mudar a prioridade.
*/